* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold; 
  font-size: 10px;
  min-height: 0px;
}

#waybar {
  background:transparent;
  color: #c6d0f5;
}
#workspaces {
  background: #101010;
}

#workspaces button {
  color: #babbf1;
}

#workspaces button.focused{
  background:#c29176;
  color: #000000;
  border-radius: 0px 0px 0px 0px;
}

button {
  background: transparent;
  padding: 0rem;
}

#workspaces button:hover {
  background: #1e1e1e;
  border: 0px solid transparent;
}

#clock,
#pulseaudio,
#network,
#custom-avatar,
#cpu,
#temperature,
#tray,
#memory{
  background-color: #101010;
  padding: 0rem;
  padding:0px 5px 0px 5px;
}
#custom-avatar {
} 

#clock {
} 

#pulseaudio {
}
#network {
}
#cpu {
}
#temperature {
}
#memory {
}

