* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 10px;
  min-height: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
}
#workspaces {
  background: #101010;
  border-radius: 5px;
}

#workspaces button {
  color: #babbf1;
}

#workspaces .active {
  background: #ffffff;
  color: #000000;
}

button {
  background: transparent;
}

#workspaces button:hover {
  background: #1e1e1e;
  border: 0px solid transparent;
}

#clock,
#pulseaudio,
#network,
#custom-avatar,
#cpu,
#temperature,
#window,
#tray,
#memory {
  background-color: transparent;
  padding: 0rem;
  padding: 0px 5px 0px 5px;
  color: #000000;
}
#custom-avatar {
  background: #1e1e1e;
  color: #ffffff;
  font-size: 16;
}

#clock {
  background: #1e1e1e;
  color: #ffffff;
}
#window {
  border-bottom: 2px solid #000000;
}
